.logo-area.theme-dark {
  --logo-filter: brightness(0) saturate(100%) invert(100%);
}

.footer-area.theme-dark {
  --color-text: #fff;
  --color-text-secondary: #ccc;
  --color-border: #444;
  --color-bg: #222;
}
